<!DOCTYPE html>
<html>
<head>
	<title>login</title>
	<style>
		.warn{
			color: red;
		}
	</style>
</head>
<body>
	<h1>Enter your details here</h1>
	<form action="register" method="post">
		{% csrf_token %}
		Enter username*:<input type="text" name="username" required><br>
		Enter password*:<input type="password" name="password" required><br>
		<input type="Submit">
	</form>
	
	<a href="/">back</a>
	<div class="warn">
		{% for i in messages %}
		<h3>{{i}}</h3>
		{% endfor %}
	</div>
</body>
</html>